.container{
    max-width: 100%;
    padding-left: 10%;
    /* margin-right: 15%; */
    /* margin-top: 3%; */
    /* min-height: 100%; */
}

.editableTitle {
    border: none;
    outline: none;
    padding: 0;
    background: none;
    font-size: 2em;
    font-weight: bold;
    color: #333;
}

.titleLine {
  margin-right: 9%;
}
  
  .editableTitle:focus {
    outline: none;
  }

  .yooptaEditor {
    margin-right: 8.5%;
  }

  .title {
    padding-top: 50px;
    margin: 0;
  }

.darkMode {
  background-color: #1e1e1e;
  color: #ffffff;
}
