.modalWrapper{
    z-index: 1000;
}
.modalContent {
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 90px;
    height: 55px;
    position: fixed;
    color: black;
    z-index: 1000;
    max-height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.addElement {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.folderImage {
    width: 1.45rem;
    height: 1.55rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fileImage {
    width: 1.45rem;
    height: 1.55rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imageWrapper {
    cursor: pointer;
    transition: transform 0.1s ease;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 4px;
}

.imageWrapper:hover {
    transform: scale(1.07);
}

.title {
    margin-left: 5px;
    font-family: 'hanbitFont';
}