.modalContent {
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 60px;
    height: 25px;
    position: fixed;
    color: black;
    z-index: 1000;
    max-height: 400px;
}

.addElement {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.folderImage {
    width: 1.45rem;
    height: 1.55rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 5px;
}

.columnLine {
    width: 1.55rem;
    height: 1.65rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fileImage {
    width: 1.75rem;
    height: 1.85rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imageWrapper {
    cursor: pointer;
    transition: transform 0.1s ease;
}

.imageWrapper:hover {
    transform: scale(1.2);
}