.modalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modalContent {
    background-color: white;
    padding: 20px;
    border-radius: 20px;
    z-index: 1001;
    width: 350px;
    height: 180px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.modalContent p {
    margin: 0;
}

.buttonWrapper {
    display: flex;
    flex-direction: row;
}

.deleteTitleName {
    font-family: 'hanbitFont';
    font-size: 20px;
    padding: 5px 0px 5px 0px;
}

.askRestore {
    font-family: 'hanbitFont';
    font-size: 20px;
    padding: 5px 0px 25px 0px;
}

.button {
    width: 90px;
    height: 40px;
    border-radius: 30px;
    border: 0px;
    background-color: #ff914d;
    font-size: 15px;
    font-family: 'hanbitFont';
    margin: 0px 10px 0px 10px;
}

.button:hover {
    color: white;
}

