@font-face {
    font-family: 'BMJUAFont';
    src: url('../../../assets/fonts/BMJUA_ttf.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'HanbitFont';
    src: url('../../../assets/fonts/KCC-Hanbit.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.bmjuaFont {
    font-family: 'BMJUAFont', sans-serif;
}

.hanbitFont {
    font-family: 'HanbitFont', sans-serif;
    margin-bottom: 10vh;
    text-align: right;
    margin-right: 15%;
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 19%;
    height: 98vh;
    background-color: rgb(197, 192, 192);
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 2vh;
    overflow-x: auto;
    overflow-y: auto;
    white-space: nowrap;
}

.sidebar::-webkit-scrollbar {
    width: 18px; /* 세로 스크롤바 높이 */
    height: 18px; /* 가로 스크롤바 높이 */
    background-color: #f9f9f9;
}

.sidebar::-webkit-scrollbar-thumb {
    background-color: #ff914d; /* 세로 스크롤바 색상 */
    border-radius: 10px;
    border: 2px solid #f9f9f9;
}

.sidebar::-webkit-scrollbar-thumb:horizontal {
    background-color: #ff914d; /* 가로 스크롤바 색상 */
    border-radius: 10px;
    border: 2px solid #f9f9f9;
}

.nicknameSpace {
    display: flex;
    flex-direction: row;
    margin: 3vh 0vh 2vh 0vh;
    align-items: center;
    justify-content: center;
    margin-left: 60px;
    /* pointer-events: none; */
    /* user-select: none; */
}

.contentContainer {
    display: flex;
    flex-direction: column;
    /* pointer-events: none; */
    /* user-select: none; */
}

.nickname {
    font-size: 20px;
}

.pencil {
    width: 9%;
    margin: 0vh 0vh 0vh 2vh;
    cursor: pointer;
    transition: transform 0.1s ease;
}

.pencil:hover {
    transform: scale(1.2);
}

.line {
    width: 88%;
    height: 20px;
    margin-bottom: 3vh;
    /* pointer-events: none;
    user-select: none; */
}

.forderSpace {
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    width: 100%;
    /* user-select: none; */
}

.folderWrapper {
    display: flex;
    flex-direction: row;
    margin: 0vh 0vh 0.5vh 0vh;
    align-items: center;
}
.forderImage {
    width: 1.25rem;
    height: 1.25rem;
    margin-right: 1.5vh;
    margin-left: 3vh;
}

.forderImage:hover {
    cursor: pointer;
}

.folderName {
    width: fit-content;
}

.folderName:hover {
    cursor: pointer;
}

.fileSpace {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0vh 0vh 0.5vh 0vh;
    width: 100%;
    /* pointer-events: none;
    user-select: none; */
}

.fileImage {
    width: 1.35rem;
    height: 1.35rem;
    margin-right: 1.5vh;
    margin-left: 3vh;
}

.fileImage:hover {
    cursor: pointer;
}

.fileName:hover {
    cursor: pointer;
}

.addButton {
    width: 1rem;
    height: 1rem;
    margin-left: 3vh;
}

.addButton:hover {
    cursor: pointer;
}

.sideButtonWrapper {
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 3vh;
    bottom: 5vh;
    /* pointer-events: none; */
    /* user-select: none; */
}

.profileImage {
    width: 2rem;
    height: 2rem;
    margin-bottom: 2.5vh;
    cursor: pointer;
    transition: transform 0.1s ease;
}

.profileImage:hover {
    transform: scale(1.2);
}

.makeFileButton {
    width: 2rem;
    height: 2rem;
    margin-bottom: 2.5vh;
    cursor: pointer;
    transition: transform 0.1s ease;
}

.makeFileButton:hover {
    transform: scale(1.2);
}

.trashButton {
    width: 2rem;
    height: 2rem;
    margin-bottom: 2.5vh;
    cursor: pointer;
    transition: transform 0.1s ease;
}

.trashButton:hover {
    transform: scale(1.2);
}

.settingButton {
    width: 2rem;
    height: 2rem;
    cursor: pointer;
    transition: transform 0.1s ease;
}

.settingButton:hover {
    transform: scale(1.2);
}

.folderWrapper:hover {
    background-color: gray;
    color: white;
    width: 110%;
}

.fileSpace:hover {
    background-color: gray;
    color: white;
}

.contextMenu {
    width: 150px;
    background-color: rgb(250, 242, 242);
    border: 1px solid #ccc;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    padding: 10px;
    list-style: none;
    position: fixed;
    z-index: 1000;
}

.contextMenu li {
    padding: 8px 12px;
    cursor: pointer;
}

.contextMenu li:hover {
    background-color: #f5f5f5;
}

.editWrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 7px;
    margin-left: 5px;
}

.editIcon {
    width: 1.75rem;
}

.rightClickEdit {
    margin-left: 5px;
}

.rightClickEdit:hover {
    color: #ff914d;
}

.deleteWrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 7px;
    margin-left: 5px;
}

.deleteIcon {
    width: 1.75rem;
}

.rightClickDelete {
    margin-left: 5px;
}

.rightClickDelete:hover {
    color: #ff914d;
}

.renderNameField {
    display: flex;
    text-align: center;
    height: 30px;
    font-size: medium;
    background-color: rgb(250, 242, 242);
}
