.container {
    height: 100vh;
    /* margin-top: 1vh; */
    position: relative;
}

@font-face {
    font-family: 'BMJUAFont';
    src: url('../../../../src/assets/fonts/BMJUA_ttf.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'HanbitFont';
    src: url('../../../assets/fonts/KCC-Hanbit.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.bmjuaFont {
    font-family: 'BMJUAFont', sans-serif;
    font-size: 60px;
    text-align: right;
    margin-right: 15%;
}

.hanbitFont {
    font-family: 'HanbitFont', sans-serif;
    font-size: 40px;
    margin-bottom: 10vh;
    text-align: right;
    margin-right: 15%;
}

.heading {
    font-size: 50px;
    margin: 0;
}

.Terminal {
    width: 630px;
    height: 260px;
    background-size: cover;
    background-position: center;
    border-radius: 5px;
    position: absolute;
    top: 36%;
    left: 10vh;
}

.subheading {
    font-size: 30px;
    margin-top: 20px;
}

.EditorErrorPage {
    width: 550px;
    height: 500px;
    border-radius: 5px;
}

.splitContainer {
    display: flex;
    justify-content: space-between;
}

.leftHalf {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.rightHalf {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ErrorScreen {
    width: 70%;
    border-radius: 10px;
    margin: 7px;
}

.SuccessScreen {
    margin: 10px;
    width: 70%;
    border-radius: 7px;
}

.NextVector {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100px;
    z-index: 10;
}

.error {
    color: #fa512f;
}

.TS2741 {
    color: white;
}

.info {
    color: white;
}

.code {
    color: #ce9178;
}

.yellowText {
    color: yellow;
}

.terminalErrorMessageWrapper {
    position: absolute;
    top: 19%;
    left: 4%;
    line-height: 1;
    font-family: 'hanbitFont';
    font-size: 16px;
}

.redWaveUnderline {
    text-decoration: none;
    background-image: url('data:image/svg+xml;utf8,<svg viewBox="0 0 10 10" xmlns="http://www.w3.org/2000/svg"><path d="M0 10 Q 2.5 0, 5 10 Q 7.5 0, 10 10" fill="none" stroke="red"/></svg>');
    background-size: 10px 10px;
    background-repeat: repeat-x;
    background-position: 0 100%;
}