.container {
    height: 100vh;
    position: relative;
}

@font-face {
    font-family: 'BMJUAFont';
    src: url('../../../src/assets/fonts/BMJUA_ttf.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'HanbitFont';
    src: url('../../assets/fonts/KCC-Hanbit.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.bmjuaFont {
    font-family: 'BMJUAFont', sans-serif;
    font-size: 60px;
    text-align: right;
    margin-right: 15%;
    margin-bottom: 15px;
}

.hanbitFont {
    font-family: 'HanbitFont', sans-serif;
    font-size: 40px;
    margin-bottom: 10vh;
    text-align: right;
    margin-right: 15%;
    margin-top: 15px;
    margin-bottom: 25px;
}

.heading{
    margin-bottom: 15px;
}

.subheading{
    margin-top: 15px;
    margin-bottom: 25px;
}

.EditorErrorPage {
    width: 70%;
    border-radius: 10px;
}

.splitContainer {
    display: flex;
    justify-content: space-between;
}

.leftHalf {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.rightHalf {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ErrorScreen {
    width: 70%;
    border-radius: 10px;
    margin: 7px;
}

.SuccessScreen {
    margin: 10px;
    width: 70%;
    border-radius: 7px;
}

.NextVector {
    position: absolute;
    top: 62%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100px;
    z-index: 10;
}