.editorContainer{
    max-width: 100%;
    display: flex;
    flex-direction: row;
}

.sidebarWrapper{
    min-width: 250px;
    z-index: 1000;
}

.editorWrapper{
    width: 70%;
    margin-left: 7.5%;
    margin-right: 7.5%;
    margin-top: 3%;
    z-index: 1;
}