.editorContainer{
    min-width: 100%;
    display: flex;
    flex-direction: row;
}

.sidebarWrapper{
    z-index: 1000;
}

.editorWrapper{
    width: 66%;
    margin-left: 26.5%;
    margin-right: 7.5%;
    margin-top: 5%;
}