.App {
  text-align: center;
}

@font-face {
  font-family: 'BMJUAFont';
  src: url('./assets/fonts/BMJUA_ttf.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.bmjuaFont {
  font-family: 'BMJUAFont', sans-serif;
  color: white;
}

.fontWhiteColor {
  color: white;
}

a{
  text-decoration: none;
  color: black;
}

a:hover{
  font-weight: bold;
}

@font-face {
  font-family: 'GAMTANFont';
  src: url('./assets/fonts/GAMTAN.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.gamtanFont {
  font-family: 'GAMTANFont', sans-serif;
  color: white;
}
.cm-gutterElement{
  line-height: 30px;

}
.cm-content{
  background-color: #e7f5ff;
  font-size: 20px;
}

.cm-line{
  background-color: #e7f5ff;
  line-height: 30px;
}

.bn-inline-content{
  min-width: 100%
}

.cm-activeLine{
  background-color: black;
}

