.loginOpenBtn{
    cursor: pointer;
  }
  
.clickable{
    cursor: pointer;
  }
  
.customFaster  {
    animation-duration: 0.5s;
  }
  
.loginContainer{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0,0,0,0.5);
    z-index: 2;
    opacity: 1;
  }
  
.loginTitleWrapper{
    width: 100%;
    position: relative;
    margin-top: 5vh;
}
  
.loginTitle{
    text-align: center;
    color: black;
    font-family: 'bmjuaFont';
    font-size: 30px;
    margin: 38px 0; 
}
  
.loginContent {
    position: absolute;
    background-color: #ffffff;
    width: 470px;
    height: 270px;
    padding: 15px;
    border-radius:20px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 1); /* 그림자 추가 */
}
  
  

.hidden{
    display: none;
}

.socialLoginBtnWrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.socialLoginBtn {
    width: 50px; /* 버튼의 크기 */
    height: 50px; /* 버튼의 크기 */
    border-radius: 50%; /* 원형으로 만들기 */
    background-size: cover; /* 배경 이미지가 버튼 크기에 맞게 조정 */
    background-position: center; /* 배경 이미지 중앙 정렬 */
    background-repeat: no-repeat; /* 배경 이미지 반복 없음 */
    cursor: pointer; /* 마우스 오버시 커서 변경 */
}

.naverBtn{
    background-image: url('../../images/naverLogo.png'); 
}

.googleBtn{
    background-image: url('../../images/googleLogo.png'); 
}

.kakaoBtn{
    background-image: url('../../images/kakaologin.png'); 

}
  
  