@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;400;500&family=Pacifico&display=swap");

.container {
    height: 1000vh;
    overflow-y: auto;
}

.header {
    padding-top: 110px;
    background-color: #fdedd5;
    box-sizing: border-box;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
}

.path {
    fill: none;
    stroke: black;
    stroke-width: 3px;
    z-index: 2000;
}

.path1 {
    stroke-dasharray: 6884;
    animation: drawPath1 1s linear, floating 2.2s linear infinite;
    z-index: 2000;
}

.content1 {
    background-color: #fdedd5;
    min-height: 500px;
    position: relative;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}

.content2 {
    background-color: #fdedd5;
    min-height: 500px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.path2 {
    stroke: black;
    z-index: 2000;
}

.content3 {
    background-color: #fdedd5;
    min-height: 500px;
}

.footer {
    height: 30vh;
    background-color: #fdedd5;
}

@keyframes drawPath1 {
    0% {
        stroke-dashoffset: 6884;
    }

    100% {
        stroke-dashoffset: 0;
    }
}

@keyframes floating {
    50% {
        transform: translate3d(0, 40px, 0);
    }
}

.vscodeGuide {
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.guideTitle {
    background-color: #fdedd5;
    margin: 130px 0px 0px 150px;
}

.guide {
    color: black;
    font-family: 'hanbitFont';
    font-size: 30px;
    font-weight: bold;
}

.Explain1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.VscodeExplain1 {
    position: absolute;
    right: 26vh;
    top: 12vh;
    font-family: 'hanbitFont';
    font-size: 20px;
    margin-top: 8vh;
}

.VscodeExplain1Image {
    position: absolute;
    width: 800px;
    height: auto;
    right: 11vh;
    border-radius: 10px;
    margin-top: 10vh;
}

.Explain2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.VscodeExplain2 {
    position: absolute;
    left: 16vh;
    top: 60vh;
    font-family: 'hanbitFont';
    font-size: 20px;
    margin-top: 8vh;
}

.VscodeExplain2Image {
    position: absolute;
    width: 800px;
    height: auto;
    left: 15vh;
    border-radius: 10px;
    top: 75vh;
}

.VscodeExplain3 {
    position: absolute;
    right: 60vh;
    top: 205vh;
    font-family: 'hanbitFont';
    font-size: 20px;
    margin-top: 8vh;
}

.VscodeExplain3Image {
    position: absolute;
    width: 800px;
    height: auto;
    right: 10vh;
    border-radius: 10px;
    top: 220vh;
}

.Explain3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.VscodeExplain4 {
    position: absolute;
    left: 12vh;
    top: 470vh;
    font-family: 'hanbitFont';
    font-size: 20px;
    margin-top: 8vh;
}

.VscodeExplain4Image {
    position: absolute;
    width: 800px;
    height: auto;
    left: 10vh;
    border-radius: 10px;
    top: 485vh;
}

.VscodeExplain5 {
    position: absolute;
    right: 25vh;
    top: 630vh;
    font-family: 'hanbitFont';
    font-size: 20px;
    margin-top: 8vh;
}

.VscodeCheck1 {
    position: absolute;
    width: 50px;
    height: auto;
    left: 81vh;
    top: 70vh;
}