@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;400;500&family=Pacifico&display=swap");

/* .container {
    height: 1000vh;
    overflow-y: auto;
} */

.vscodeGuide {
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.guideTitle {
    background-color: #fdedd5;
    margin: 130px 0px 0px 150px;
}

.guide {
    color: black;
    font-family: 'hanbitFont';
    font-size: 30px;
    font-weight: bold;
}

/* HEADER */
.header {
    padding-top: 110px;
    background-color: #fdedd5;
    box-sizing: border-box;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.imageContainer0 {
    display: flex;
    flex-direction: column;
}

.ExplainContent0 {
    position: absolute;
    right: 38vh;
    top: 12vh;
    font-family: 'hanbitFont';
    font-size: 20px;
}

.VscodeExplainImage0 {
    position: absolute;
    right: 10vh;
    top: 21vh;
    width: 800px;
    height: auto;
    border-radius: 10px;
}


/* CONTENT 1 */
.content1 {
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.imageContainer1 {
    display: flex;
    flex-direction: column;
}

.ExplainContent1 {
    position: absolute;
    left: 15vh;
    top: 45vh;
    font-family: 'hanbitFont';
    font-size: 20px;
}

.VscodeExplainImage1 {
    position: absolute;
    left: 13vh;
    top: 54vh;
    width: 800px;
    height: auto;
    border-radius: 10px;
}


/* CONTENT 2 */
.content2 {
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.imageContainer2 {
    display: flex;
    flex-direction: column;
}

.ExplainContent2 {
    position: absolute;
    left: 15vh;
    top: 18vh;
    font-family: 'hanbitFont';
    font-size: 20px;
}

.VscodeExplainImage2 {
    position: absolute;
    left: 13vh;
    top: 27vh;
    width: 800px;
    height: auto;
    border-radius: 10px;
}

.check2 {
    width: 30px;
    position: absolute;
    left: 13.5vh;
    top: 55vh;
}

/* -------------------------------------- */

.imageContainer3 {
    display: flex;
    flex-direction: column;
}

.ExplainContent3 {
    position: absolute;
    right: 53vh;
    top: 116vh;
    font-family: 'hanbitFont';
    font-size: 20px;
}

.VscodeExplainImage3 {
    position: absolute;
    right: 8vh;
    top: 125vh;
    width: 800px;
    height: auto;
    border-radius: 10px;
}

.check3 {
    width: 30px;
    position: absolute;
    right: 112vh;
    top: 173vh;
}


/* CONTENT 3 */
.imageContainer4 {
    display: flex;
    flex-direction: column;
}

.ExplainContent4 {
    position: absolute;
    left: 15vh;
    bottom: 248vh;
    font-family: 'hanbitFont';
    font-size: 20px;
}

.VscodeExplainImage4 {
    position: absolute;
    left: 12vh;
    bottom: 190vh;
    width: 800px;
    height: auto;
    border-radius: 10px;
}

.check4 {
    width: 30px;
    position: absolute;
    left: 25vh;
    bottom: 237vh;
}

.check5 {
    width: 30px;
    position: absolute;
    right: 67vh;
    bottom: 194vh;
}

/* CONTENT 4 */
.imageContainer5 {
    display: flex;
    flex-direction: column;
}

.ExplainContent5 {
    position: absolute;
    right: 20vh;
    bottom: 90vh;
    font-family: 'hanbitFont';
    font-size: 20px;
}


/* PATH */

.path {
    fill: none;
    stroke: black;
    stroke-width: 3px;
    stroke-dasharray: 100%;
    stroke-dashoffset: 100%;
    animation: draw 10s ease forwards;
}

.path1,
.path2,
.path3,
.path4 {
    stroke-dasharray: 0;
    stroke-dashoffset: 0;
}

.path1 {
    animation: draw1 4s ease forwards;
    animation: drawPath1 1s linear, floating 2.2s linear infinite;
}

.path2 {
    stroke: black;
    z-index: 2000;
    animation: draw2 40s ease forwards;
}

.path3 {
    animation: draw3 10s ease forwards;
}

.path4 {
    animation: draw4 12s ease forwards;
}

.path5 {
    animation: draw5 14s ease forwards;
}


/* DRAW */
.draw {
    animation: drawPath 4s forwards;
}

@keyframes drawPath {
    to {
        stroke-dashoffset: 0;
    }
}

@keyframes draw1 {
    from {
        stroke-dashoffset: 100%;
    }

    to {
        stroke-dashoffset: 0;
    }
}

@keyframes draw2 {
    from {
        stroke-dashoffset: 100%;
    }

    to {
        stroke-dashoffset: 0;
    }
}

@keyframes draw3 {
    from {
        stroke-dashoffset: 100%;
    }

    to {
        stroke-dashoffset: 0;
    }
}

@keyframes draw4 {
    from {
        stroke-dashoffset: 100%;
    }

    to {
        stroke-dashoffset: 0;
    }
}

@keyframes draw5 {
    from {
        stroke-dashoffset: 100%;
    }

    to {
        stroke-dashoffset: 0;
    }
}

@keyframes floating {
    50% {
        transform: translate3d(0, 40px, 0);
    }
}


/* CONTENT */

.content1,
.content2,
.content3,
.content4 {
    background-color: #fdedd5;
    min-height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content1,
.content2 {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.content1 {
    min-height: 500px;
    position: relative;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}

.footer {
    height: 30vh;
    background-color: #fdedd5;
}


.Explain1,
.Explain2,
.Explain3,
.Explain4 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}